img {
	max-width: 100%;
	height: auto;
}

.weatherCard {
	flex: 1 1 31%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0 20px 0;
}

.weatherCard .icon {
	width: 24px;
	height: 24px;
}

.weatherCard .degrees {
	position: relative;
	font-weight: 300;
	font-size: 64px;
	line-height: 1px;
}

.weatherCard .degrees::before {
	content: url('./../../assets/images/celsius.png');
	position: absolute;
	
margin-top: -25px;
	right: -23px;
}

.weatherCard:nth-child(2) {}

.weatherCard span:last-child {
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 0.1em;
}