img {
	max-width: 100%;
	height: auto;
}

.weatherCard {
	flex: 1 1 31%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0 20px 0;
}

.weatherCard .icon {
	width: 24px;
	height: 24px;
	margin: 10px;
}

.weatherCard .degrees {
	position: relative;
	font-weight: 300;
	font-size: 64px;
	line-height: 1px;
}

.weatherCard .degrees::before {
	content: url('./../../assets/images/celsius.png');
	position: absolute;
	
margin-top: -25px;
	right: -23px;
}

.weatherCard:nth-child(2) {}

.weatherCard span:last-child {
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 0.1em;
}

.tempMinMax {
	position: relative;
}

.tempMinMax p:nth-child(1) {
	margin: 2px;
	padding: 2px;
	font-size: 1.5em;

}

.tempMinMax p:nth-child(1)::before {
	content: url('./../../assets/images/celsius.png');
	position: absolute;
	margin-left: 30px;
}

.tempMinMax p:nth-child(1)::after {
	content: url('./../../assets/images/arrow-up.png');
	position: absolute;
	margin-left: 25px;
}

.tempMinMax p:nth-child(2) {
	margin: 2px;
	padding: 2px;
	font-size: 1.5em;
}

.tempMinMax p:nth-child(2)::before {
	content: url('./../../assets/images/celsius.png');
	position: absolute;
	margin-left: 30px;
}

.tempMinMax p:nth-child(2)::after {
	content: url('./../../assets/images/arrow-down.png');
	position: absolute;
	margin-left: 25px;
}

.backgroundDayNightIMG {
	width: 40px;
	height: auto;
}