.App {
	display: flex;
	justify-content: center;
	text-align: center;

	background-color: #282c34;
	min-height: 100vh;
}

.AppContainer {
	width: 375px;
	font-size: calc(10px + 2vmin);
	color: white;
}

.selectedCity {
	position: absolute;
	z-index: 1;
	top: 275px;
	width: 375px;
	height: 531px;
	border-radius: 23px 23px 0 0;
	background: #FFFFFF;
	box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
	transition: top 0.5s, height 0.5s;
}

.search {
	top: 75px;
	height: 731px;
	transition: top 0.5s;
}