.historyList {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.locationTitle {
	position: relative;
	font-family: Barlow;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #999999;
}

.inputTypeahead input {
	width: 335px;
	height: 40px;
	padding-left: 5px;
	background: #F3F3F3;
	border: none;
	border-radius: 4px;
	outline: none;
}

.geoTag {
	position: absolute;
	margin-top: 10px;
	margin-left: 140px;
}

.historyCity {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding: 9px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #444444;
	width: 100%;
	transition: all .3s;
	cursor: pointer;
}

.historyCity p {
	margin: 0 10px 0 10px;
	padding: 0;
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	letter-spacing: -0.05em;
	color: #444444;
}