.infoHead {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 48px;
}

.infoDateTime {
	text-align: center;

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-left: 10px;
	color: #999999;
}

.infoCityContainer {
	width: 154px;
	height: 100%;
	width: 154px;
	color: #0DA0EA;
	background: rgba(13, 159, 234, 0.08);
	border-bottom-left-radius: 23px;
	border-top-right-radius: 23px;
	cursor: pointer;
}

.infoCityContainer:hover {
	background-color: rgb(200, 231, 250);
	transition: background-color 0.5s;
}

.infoCityCountry {
	font-family: Barlow;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding-right: 10px;
	color: #0DA0EA;

}

.weatherDescriptionsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.weekContainer {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 375px;
}

.weekContainer::-webkit-scrollbar {
	display: none;
}