.selectedCity {
	position: absolute;
	width: 375px;
	height: 531px;
	left: 0px;
	top: 279px;
	border-radius: 23px 23px 0 0;

	background: #FFFFFF;
	box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
}

.infoHead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 48px;
}

.infoDateTime {

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-left: 10px;

	text-align: center;

	color: #999999;
}

.infoCityContainer {
	width: 154px;
	height: 100%;
	width: 154px;
	color: #0DA0EA;
	background: rgba(13, 159, 234, 0.08);
	border-bottom-left-radius: 23px;
}

.infoCityCountry {
	font-family: Barlow;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	padding-right: 10px;
	color: #0DA0EA;

}

.weatherDescriptionsContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.weekContainer {
	display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;

	width: 375px;
}